<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerencie seus brechós</title>
  <!-- SweetAlert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{../../css/bootstrap/css/bootstrap.min.css}">
  <!-- CSS -->
  <link rel="stylesheet" th:href="@{../../css/meus-brechos.css}">
</head>
<body>
<div class="container">
  <div class="container-login">
      
    
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script type="module" defer th:src="@{../../js/auth/auth.js}"></script>
<script type="module" th:src="@{../../js/meus-brechos/meus-brechos.js}"> </script>
</body>

</html>