@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    overflow-x: hidden;
    background: linear-gradient(to left, #E0E0E0, #E7E7E7, #E8E8E8, #EAEAEA, #E0E0E0);
    /* background: linear-gradient(to bottom, #DDDDDD, #E0E0E0, #E0E0E0); */
    font-family: 'Poppins';
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background: url('/assets/hanger.jpg') no-repeat center / contain;
    background-position: top;
}

.hero > a.button.btn-login > img {
    width: 25px;
    border-radius: 50px;
    float: left;
}

.hero > a.button.btn-logout > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    border-radius: 50px;
    transition: left 0.35s;
}

.btn-logout {
    text-decoration: none;
    display: block; 
    transition: width .35s, background-color .35s, transform .35s; 
    position: relative; 
    overflow: hidden;
    color: white;
    background-color: white;
    border-radius: 5px;
    height: 15px;
    width: 50px;
}

.btn-login {
    text-decoration: none;
    width: 200px; 
    display: block; 
    transition: width .35s, background-color .35s, transform .35s; 
    position: relative; 
    overflow: hidden;
}

.btn-login {
    color: black;
    background-color: rgba(0, 0, 0, 0);
}

.login, .logout {
    font-size: 1em;
    position: absolute; 
    left: 10px;
    top: 70%;
    transform: translateY(-50%); 
    opacity: 0;
    transition: opacity .45s; 
}

.logout {
    font-size: 1em;
    position: absolute; 
    left: 10px;
    top: 14px;
    transform: translateY(-50%); 
    opacity: 0;
    transition: opacity .45s; 
}

div.hero > a {
    height: 30px !important;
}

.anchor_dropdown {
    display: block; 
    height: 80px; 
    overflow: hidden; 
}

.center-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.anchor_dropdown:hover {
    width: 60px;
    background-color: rgb(255, 255, 255);
    transform: scale(1); 
}

.hero > a.button.btn-logout:hover > img {
    left: 50px;
    transform: translateX(-50%);
}
.anchor_dropdown:hover .login, a:hover .logout {
    opacity: 1;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}


.hero > .container > .text > h1 {
    font-size: 5rem;
    color: white; 
    mix-blend-mode: difference;
}


.container {
    width: 90%;
    height: 100%;
}


.container > .text > p {
    font-size: calc(1rem + 1vw); 
}

.logos-slider {
    margin-top: 100px;
    overflow-x: hidden;
    mask-image: linear-gradient(
        to right,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
    );
    user-select: none;
}

.logos-wrapper {
    display: flex;
    justify-content: space-around;
    animation: logoLoop 15s linear infinite;
    width: calc(200%); 
}

.logo-item {
    margin-left: 1rem;
    padding: 1rem;
    display: grid;
    place-items: center;
    border-radius: 1rem;
}

.logo-item img {
    height: 3.5rem;
    margin-inline: 2rem;
}

@keyframes logoLoop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.procura-brecho {
    margin-top: 30px;
}

/* Formulario css */

.container > .container-form  {
    margin-top: 150px;
}

.container-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100vh;
    padding: 20px;
}

#usuarioForm {
    width: 100%; 
    max-width: 500px;
}

.form-group input {
    padding: 12px 20px;  
    font-size: 16px;  
    height: 45px;
    width: 100%;  
    max-width: 500px;
    margin-bottom: 15px;
}

.container-cadastro > h1 {
    font-size: 3rem;
    color: black;
    text-align: center;
}

/* MEDIAS */





@media (max-width: 800px) {
    .hero {
        height: auto;
    }

    .container > .text > h1 {
        font-size: 3.2rem; 
    }
}

@media (max-width: 500px) {
    html {
        overflow-x: hidden;
    }
    .container {
        margin-top: 50px;
    }
    .container > .text > h1 {
        font-size: 3rem !important;
    }

    .container > .text > p {
        font-size: 1.2rem;
    }
    .logo-item img {
        width: fit-content;
        border-radius: 0px;
    }
   
}

@media (min-width: 1200px) {
    .btn-cadastro {
        width: 250px;
    }
}

.btn-cadastro {
    font-size: large !important;
}

.cadastro {
    margin-top: 10px
}